* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.content {
    flex: 1;
    height: 100vh;
    overflow: auto;
}

.menu {
    height: 100vh;
    width: 50px;
    background: rgba(92,180,142,1);
    overflow: hidden;
    transition: 0.5s;
    border-left: 5px solid rgba(92,180,142,1);
    display: flex;
    flex-direction: column;
}

.expand-btn {
    border: none;
    background: none;
    font-size: 30px;
}

.menu__list {
    list-style: none;
    flex: 1;
}

.menu__list > .menu__item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    transition: 0.5s;
    cursor: pointer;
    padding: 5px 0;
    margin: 20px 0;
}

.menu__list > .menu__item > .item__img {
    font-size: 30px;
    margin-right: 10px;
    trasition: 0.5s;
    text-align: center;
    min-width: 50px;
}

.menu.active {
    width: 150px;
}

.menu.active .menu__item {
    justify-content: start;
}

.menu__item {
    position: relative;
}

.menu__item.active {
    background: #fff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.menu__item span:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 50px;
    background: #fff;
    transition: 0.5s;
    display: none;
}

.menu__item span:nth-child(1)::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 25px;
    background: rgba(92,180,142,1);
    transition: 0.5s;
}

.menu__item span:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 50px;
    background: #fff;
    transition: 0.5s;
    display: none;
}

.menu__item span:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 25px;
    background: rgba(92,180,142,1);
    transition: 0.5s;
}

.menu__item.active span {
    display: block;
}

.menu.active .menu__item span {
    width: 100%;
}

.modal {
    background: #fff;
    min-width: 200px;
    max-width: 60%;
    padding: 10px;
    padding-top: 30px;
    border-box: box-sizing;
    border-radius: 20px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .modal {
        max-width: 99%;
    }

    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        flex-direction: row;
        border: none;
        border-bottom: 5px solid rgba(92,180,142,1)
    }

    .menu__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .menu__list > .menu__item {
        width: 50px;
        margin-top: 0;
        height: max-content;
        transition: 0.4s;
        transform: translateY(7px);
    }

    .menu__item.active {
        background: #fff;
        border-top-left-radius: 0;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .menu__list > .menu__item > .item__img {
        margin: 0;
    }

    .menu__item span:nth-child(1) {
        position: absolute;
        top: 0;
        left: -20px;
        height: 50px;
        width: 20px;
        background: #fff;
        transition: 0.5s;
        display: none;
        z-index: 10;
    }

    .menu__item span:nth-child(1)::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 0;
        background: rgba(92,180,142,1);
        transition: 0.5s;
    }

    .menu__item span:nth-child(2) {
        position: absolute;
        top: 0;
        right: -20px;
        height: 50px;
        width: 20px;
        background: #fff;
        transition: 0.5s;
        display: none;
        z-index: 10;
    }

    .menu__item span:nth-child(2)::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 0;
        background: rgba(92,180,142,1);
        transition: 0.5s;
    }


    .menu__item.active span {
        display: block;
    }

    .menu__item .item__name {
        display: none;
    }

    .expand-btn {
         display: none;
    }
}
