* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.content {
    flex: 1;
    height: 100vh;
    overflow: auto;
}

.menu {
    height: 100vh;
    width: 50px;
    background: rgba(92,180,142,1);
    overflow: hidden;
    transition: 0.5s;
}

.menu__list {
    list-style: none;
}

.menu__list > .menu__item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    transition: 0.5s;
    cursor: pointer;
    padding: 5px 0;
}

.menu__list > .menu__item > .item__img {
    font-size: 30px;
    margin-right: 10px;
    trasition: 0.5s;
    text-align: center;
    min-width: 50px;
}

.menu.active {
    width: 150px;
}

.menu .menu__item:hover {
    background: #00000050;
}

.menu.active .menu__item {
    justify-content: start;
}

.modal {
    background: #fff;
    min-width: 200px;
    max-width: 60%;
    padding: 10px;
    padding-top: 30px;
    border-box: box-sizing;
    border-radius: 20px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .modal {
        max-width: 99%;
    }
}
